<%= render partial: "shared/flash_messages", flash: flash %>
  <% if @admin_list.present? %>
    <div class="table-responsive" style="margin-top: -20px">
      <% @admin_list.each do |adm| %>
      <button class="badge badge-primary" style="font-size: 13px; margin-bottom: 5px;">Username: <%= adm.username %></button>
      <table class="table table-striped table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr style="background-color:#d8b2d8">
            <th> CENTER </th>
            <th> ROLE </th>
          </tr>
        </thead>
        <tbody> 
          <tr>
            <td><b><%= @taska.name %></b></td>
            <td>
              <% if (tsacurr = TaskaAdmin.where(admin_id: adm.id, taska_id: @taska.id)).present?%>
                <% if tsacurr.last.spv %>
                  SUPERVISOR
                <% else %>
                  ADMIN
                <% end %>
              <% else %>
                <%= link_to tsk_add_role_path(@taska, adm: adm.id, spv: 0), class: "btn btn-sm btn-info" do %>
                  <i class="fa fa-plus"></i> ADMIN
                <% end %><br>
                <%= link_to tsk_add_role_path(@taska, adm: adm.id, spv: 1), class: "btn btn-sm btn-warning" do %>
                  <i class="fa fa-plus"></i> SUPERVISOR
                <% end %>
              <% end %>
            </td>
          </tr>
          <% TaskaAdmin.where(admin_id: adm.id).where.not(taska_id: @taska.id).each do |tsadm| %>
            <tr>
              <td><%= tsadm.taska.name %></td>
              <td>
                <% if tsadm.spv %>
                  SUPERVISOR
                <% else %>
                  ADMIN
                <% end %>
              </td>
            </tr>
            
          <% end %>
        </tbody>
      </table>
      
    </div>
  <% end %>
<% end %> 

  




