

<!-- START TABLE -->
<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header">
    <div class="row">
      <%= form_tag mystudent_path, method: :get, id: "find_kid" do %>
        <%= text_field_tag :sch_str, params[:sch_str], placeholder: "Search Here", style: 'text-transform: uppercase' %>
        <%= hidden_field_tag :id, params[:id], value: params[:id] %>
        <%= hidden_field_tag :cls_id, params[:cls_id], value: params[:cls_id] %>
        <%= hidden_field_tag :sch, params[:sch], value: true %>
        <%= button_tag(type: :submit, class: "badge badge-success shadow-none", style: "font-size: 14px; border-style: none; font-weight: normal",  id: "submit_expense") do %>
            <i class="fa fa-search"></i> Search
        <% end %>
        <%= link_to mystudent_path(id: @taska.id), class: "badge badge-danger shadow-sm", style: "font-size: 14px; font-weight: normal" do %>
            <i class="fa fa-sync"></i> Clear
        <% end %>
        <%= "#{@kids.count} result(s) found" unless params[:sch].blank? %>
      <% end %>
      <div>
        
      </div>
    </div>
  </div>
  <% if @kids.count < 1 %>
    <br>
    <div style="background-color:#ffcccc"><h3 align="center">NO RESULT FOUND</h3></div>
  <% else %>
    <div class="card-body">
      <div style="margin-bottom: -20px"></div>
      <div style="text-align: right" >
        <%= link_to "REGISTER CHILDREN", new_kid_path(taska_id: @taska.id), class: "badge badge-pill badge-primary" %>
        <%= link_to "UPLOAD EXCEL", xlskid_path(@taska), class: "badge badge-pill badge-info" %>
      </div>
    
    <div class="table table-responsive border" style="font-size:13px">
      <%= form_for(:cls, :url => {:controller=>'taskas', :action=>'mystudent'}, :html => {multipart: true, class: "form-horizontal", method: :get, role: "form"}) do |f| %>
        <table class="table table-bordered table-striped shadow" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr class="shadow">
              <th style="background-color:#ffb2b2">NAME</th>
              <th style="background-color:#ffb2b2">BILLING</th>
              <th style="background-color:#ffb2b2">CLASSROOM</th>
            </tr>
          </thead>
          <tbody>
            <% @kids.each do |kd| %>

              <tr>
                <td>
                  <a href="/kids/<%= kd.id %>" target="_blank"><font style="color: blue">
                    <%= kd.name %>
                    <%= link_to "Edit Details", new_kid_path(taska_id: @taska.id), class: "badge badge-pill badge-warning" %>    
                  </font></a>   
                </td>
                <td>Setting,Create, View</td>
                <td>
                  <%= f.select :classroom_id, 
                    options_from_collection_for_select(@taska.classrooms.order('classroom_name ASC'), :id, :classroom_name, kd.classroom_id), {include_blank: "Select Classroom"} %>
                </td>
              </tr>
              
            <% end %> <!-- END LOOP -->
          </tbody>
        </table>
        <%= f.submit :"UPDATE",  class: 'btn btn-sm btn-block btn-success btn-lg', style: "align:center" %>
      <% end %>
    </div>
  </div>
  <% end %>
</div>