
<% if params[:ckn].present? %>
  <div class="badge badge-info" style="margin-bottom: 10px">Children's Registration For <%= @taska.othnm %></div>
<% else %>
  <h4>NEW CHILDREN REGISTRATION FOR </h4> 
  <h3><% image = @fotos.where(foto_name: "CENTER LOGO").first %>
      <% if image.present? && image.picture.present? %>
        <%= image_tag(image.picture.url, size: "50x50") %>
      <% end %> <%= link_to "#{@taska.name.upcase}", "#", class: "btn btn-sm btn-primary active" %>
  </h3>
<% end %>



<br>
<%if $cakna21.include? params[:taska_id] %>
  <%= render 'kids/form-ckn21' %>
<% else %>
  <%= render 'kids/form' %>
<% end %>

	

