

<!-- START TABLE -->
<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header">
    <div class="row">
      <%= form_tag studentlist_adm_path, method: :get, id: "find_kid" do %>
        <%= number_field_tag :sch_str, params[:sch_str], placeholder: "MyKid No", style: 'text-transform: uppercase', required: true %>
        
        <%= hidden_field_tag :sch, params[:sch], value: true %>
        <%= button_tag(type: :submit, class: "badge badge-success shadow-none", style: "font-size: 14px; border-style: none; font-weight: normal",  id: "submit_expense") do %>
            <i class="fa fa-search"></i> Search
        <% end %>

        <%= link_to studentlist_adm_path, class: "badge badge-danger shadow-sm", style: "font-size: 14px; font-weight: normal" do %>
            <i class="fa fa-sync"></i> Clear
        <% end %>

      <% end %>
      <div>
        
      </div>
    </div>
  </div>
  <div class="card-body">
    <div style="margin-bottom: -20px"></div>
    
  <% if @kids.count < 1 %>
    <br>
    <div style="background-color:#ffcccc"><h3 align="center">NO RESULT FOUND</h3></div>
  <% elsif params[:sch].present?  %>
    
    
    <div class="table table-responsive border" style="font-size:13px">
      <%= form_for(:cls, :url => {:controller=>'kids', :action=>'add_classroom'}, :html => {multipart: true, class: "form-horizontal", method: :post, role: "form"}) do |f| %>
        <table class="table table-bordered table-striped shadow" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr class="shadow">
              <th style="background-color:#ffb2b2">NAME</th>
              <th style="background-color:#ffb2b2; width: 20%">PARENT'S LOGIN DETAILS</th>
              <th style="background-color:#ffb2b2; width: 15%">REGISTERED ON</th>
              <th style="background-color:#ffb2b2">CLASSROOM & CENTER</th>
              
              
            </tr>
          </thead>
          <tbody>
            <% @kids.order('name ASC').each do |kid| %>
            <%= f.fields_for :"#{kid.id}" do |h| %>
              <tr>
                <td>
                  <a href="/kids/<%= kid.id %>" target="_blank"><font style="color: blue">
                    <%= kid.name %>   
                  </font></a><br>
                  <%= "#{kid.ic_1}-#{kid.ic_2}-#{kid.ic_3}" %><br>
                  <% Date.today.year - kid.dob.year %>
                  <% diff = (Date.today.year*12+Date.today.month) - (kid.dob.year*12+kid.dob.month) %>
                  <% year = diff/12 %>
                  <% month = diff - year*12 %>
                  <%= year %> years <%= month %> months
                  <% if kid.date_enter.present? %>
                    <br><%= kid.date_enter.strftime('%d-%^b-%y') %>
                  <% end %>  <br>
                  <%= link_to "DELETE", kid_path(kid), class: "badge badge-danger", style: "font-size: 13px", method: :delete,:data => {:confirm => 'Are you sure? This action cant be reversed. All data will be remove permanently'} %>
                </td>
                <td>
                  <% if kid.parent_id == 1 %>
                    <b>Registered To Center</b>
                  <% elsif kid.parent.present? %>
                    <b>Username :</b><%= kid.parent.username %><br>
                    <b>Email    :</b><%= kid.parent.email %>
                  <% end %>
                </td>
                <td><%= kid.created_at.strftime('%d-%^b-%y')%></td>
                <td>
                  <%= h.select :classroom_id, 
                    options_from_collection_for_select(kid.taska.classrooms.order('classroom_name ASC'), :id, :classroom_name, kid.classroom_id), {include_blank: "No Classroom"} %>
                  <% if kid.classroom_id.blank? %>
                    <%= h.select :taska_id, 
                    options_from_collection_for_select(@admin.taskas.order('name ASC'), :id, :name, kid.taska_id) %><br>
                    <%= link_to remove_taska_path(kid: kid), class: "badge badge-danger shadow-sm", style: "font-size: 10px; font-weight: normal", :data => {:confirm => 'Are you sure?'} do %>
                      <i class="fa fa-trash"></i> Remove from Center
                    <% end %>
                  <% end %>
                </td>

                
                
                
                
                
              </tr>
              
            <% end %> <!-- END H  -->
            <% end  %> <!-- END LOOP -->
          </tbody>
        </table>
        <%= f.submit :"UPDATE",  class: 'btn btn-sm btn-block btn-success btn-lg', style: "align:center" %>
      <% end %>
    </div>
  </div>
  <% end %>
</div>