<div class='col-12 bg-white' style="margin-left: -15px"><br>

  <% if @college.appl %>
    <div style="background-color: #cce5cc"><h2 align="center">TERMA & SYARAT</h2></div>
    <h6>Syarat-syarat permohonan peserta Bengkel Cikgu ANIS</h6>
    <ol>
      <li>Warganegara Malaysia</li>
      <li>Pendidik di TASKA/TADIKA/Pusat Jagaan yang berdaftar di Negeri Selangor </li>
      <li>TASKA/TADIKA/pusat Jagaan  yang mempunyai perakuan JKM/JPN yang sah</li>
      <li>Permohonan dari NGO/Kolej perlu disertakan bersama dengan surat permohonan kepada Pengarah Program Bengkel Cg. Anis, Persatuan TASKA Negeri Selangor</li>
      <li>Mohon pastikan anda mengisi semua keperluan permohonan dan memuat naik dokumen-dokumen yang diperlukan</li>
      <li>Pemilihan akan dibuat oleh urusetia berdasarkan permohonan yg lengkap bergantung kepada kouta tertentu</li>
      <li>Anda perlu mengemas kini maklumat anda di dalam sistem pendaftaran jika terdapat sebarang perubahan</li>
      <li>Semakkan status permohonan diketahui selepas 3 hari daripada tarikh tutup iklan di link ini</li>
      <li>Peserta yang layak dan berjaya sahaja akan dihubungi oleh pihak urusetia.</li>
      <li>Sebarang rayuan atau surat menyurat boleh di alamatkan Pengarah Program Bengkel Cg. Anis, Persatuan TASKA Negeri Selangor</li>
      <li>Tarikh tutup permohonan adalah pada <b><%= @college.clse.strftime("%d-%^b-%y") %></b> (tertakluk kepada pindaan)</li>
    </ol>
  <% end %><br>

  <div style="background-color: #cce5cc"><h2 align="center">MAKLUMAT PROGRAM</h2></div><br><br>
  <!-- LINK OPEN LEARNING -->
  <h4><u>LAMAN OPEN LEARNING</u></h4>
  <%= link_to "Open Learning Asas Autisme", "https://www.openlearning.com/courses/ikurnia-asas-autisme/", style: "color:blue", target:"_blank" %><br>
  <%= link_to "Open Learning Asas Intervensi", "https://www.openlearning.com/courses/ikurnia-asas-intervensi/", style: "color:blue", target:"_blank" %><br>

  <br><br><!-- SENARAI SEMAK DOKUMEN -->
  <h4><u>SENARAI SEMAK DOKUMEN</u></h4>
  <div class="table-responsive">
    <table class="table table-striped table-bordered" width="100%" cellspacing="0">
      <thead>
        <tr>
          <th style="background-color:#d8b2d8"> NO </th>
          <th style="background-color:#d8b2d8"> SENARAI DOKUMEN </th>
          <th style="background-color:#d8b2d8"> CATATAN URUSETIA</th> 
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Borang Pendaftaran Cikgu ANIS</td>
          <td><i>Sila Lengkapkan Semua Maklumat Anda di Sistem KidCare</i></td>
        </tr>
        <tr>
          <td>2</td>
          <td>Salinan Kad Pengenalan</td>
          <td><i>Sila Muat Naik gambar yg JELAS muka depan dan belakang Kad Pengenalan Anda di Sistem KidCare</i></td>
        </tr>
        <tr>
          <td>3</td>
          <td>Surat Tawaran Bekerja (jika bekerja)</td>
          <td><i>Sila Muat Naik gambar/pdf yg JELAS di Sistem KidCare</i></td>
        </tr>
        <tr>
          <td>4</td>
          <td>Salinan SSM (jika pemilik syarikat)</td>
          <td><i>Sila Muat Naik gambar/pdf yg JELAS di Sistem KidCare</i></td>
        </tr>
        <tr>
          <td>5</td>
          <td>Salinan Perakuan JKM (TASKA Swasta)</td>
          <td><i>Sila Muat Naik gambar/pdf yg JELAS di Sistem KidCare</i></td>
        </tr>
        <tr>
          <td>6</td>
          <td>Salinan Perakuan JPN/JAIS dll (TADIKA Swasta)</td>
          <td><i>Sila Muat Naik gambar/pdf yg JELAS di Sistem KidCare</i></td>
        </tr>
        <tr>
          <td>7</td>
          <td>
            Bukti Ada Menerima Anak Istimewa (sekiranya ada)
            <ul>
              <li>Kad JKM</li>
              <li>Surat Doktor</li>
              <li>Kad Rawatan</li>
              <li>Rekod Perkembangan</li>
            </ul>
          </td>
          <td><i>Sila daftarkan semua anak istimewa dibawah jagaan anda di Sistem KidCare dan bawa bersama dokumen-dokumen diatas (jika ada) untuk pengesahan urusetia semasa program</i></td>
        </tr>
        <tr>
          <td>8</td>
          <td>Sijil Open Learning (Asas Autisme)</td>
          <td><i>Sila Muat Naik sijil di Sistem KidCare</i></td>
        </tr>
        <tr>
          <td>8</td>
          <td>Sijil Open Learning (Asas Intervensi)</td>
          <td><i>Sila Muat Naik sijil di Sistem KidCare</i></td>
        </tr>
        <tr>
          <td>9</td>
          <td>Gambar Anda</td>
          <td><i>Sila Muat Naik gambar anda yang jelas dan bersesuaian di Sistem KidCare</i></td>
        </tr>
      </tbody>
    </table>
  </div>

  <% if 1==1 %>
  <br><br><!-- SENARAI BARANG KEPERLUAN -->
  <h4><u>SYARAT DAN PERATURAN BENGKEL ONLINE CIKGU ANIS 2020</u></h4>
  <ol>
    <li>Bengkel akan diadakan secara dalam talian menggunakan aplikasi Zoom Cloud Meeting yang boleh dimuat turun di play store (bagi android) dan di App Store(bagi i-phone) atau di alamat <a href="https://zoom.us/download">https://zoom.us/download</a> Sila muat turun aplikasi zoom pada telefon pintar/laptop anda terlebih dahulu sebelum bengkel berlangsung.</li><br>
    <li>Peserta dimohon untuk menggunakan nama sebenar dan  nama penuh sebagai username pada aplikasi <i>Zoom Cloud Meeting</i> bagi membolehkan <i>admin</i> memberi kebenaran kepada peserta untuk menyertai kelas yang akan dijalankan.</li><br>
    <li>Bagi memastikan kelas berjalan lancar, setiap peserta perlu bersedia dengan data Internet @ Wifi yang mencukupi dan peserta perlu bersedia sekurang-kurangnya 10 minit awal sebelum kelas bermula.</li><br>
    <li>Bengkel PERCUMA ini memerlukan komitmen kehadiran peserta selama 3 hari berturut-turut secara dalam talian. Kehadiran peserta akan diambil pada setiap kali sesi kelas berlangsung.</li><br>
    <li>Setiap peserta juga perlu menyelesaikan kuiz/tugasan ringkas dan mengisi borang maklum balas pada setiap kali sesi kelas tamat bagi membuktikan kehadiran dan komitmen peserta terhadap bengkel ini.</li><br>
    <li>Platform yang akan digunakan bagi melaksanakan semua tugasan dan kuiz adalah menggunakan <i>Google Classroom</i> Oleh yang demikian, adalah digalakkan agar semua peserta bersedia dengan aplikasi ini untuk melancarkan proses bengkel. </li><br>
    <li>Sijil penyertaan Bengkel Cikgu Anis akan di serahkan melalui e-mel  setelah semua peserta menghadiri setiap kelas dan memenuhi syarat kelayakkan dengan menghantar semua tugasan individu, kuiz dan borang maklumbalas di dalam medium yang telah ditetapkan</li><br>
    <li>Adalah diharapkan agar peserta yang telah di pilih peka serta bersedia dari segi ruang dan masa seperti di dalam jadual bengkel dengan memberikan komitmen kehadiran serta fokus di dalam setiap kelas yang di adakan selama 3 hari</li><br>
    <h4>SELAMAT MENIMBA ILMU BERSAMA BENGKEL ONLINE CIKGU ANIS</h4>
  </ol>
  <% end %>

  <% if 1==0 %>
  <br><br><!-- SENARAI BARANG KEPERLUAN -->
  <h4><u>SENARAI BARANG KEPERLUAN</u></h4>
  <h5>Sila Pastikan Anda Bawa Bersama Barang-Barang Keperluan di bawah semasa Bengkel Cikgu ANiS</h5>
  <ol>
    <li>Pen, Pensil, Buku Note</li>
    <li>Gunting</li>
    <li>Gam</li>
    <li>Solatape/Double Sided Tape</li>
    <li>Stapler/Ubat Stapler</li>
    <li>Kertas Warna/A4</li>
    <li>Pembaris/Sharpener</li>
    <li>Barang-barang keperluan mandian</li>
    <li>Telekung & Sejadah</li>
    <li>Iron Baju (boleh share)</li>
    <li>Hanger Baju (baju dah iron)</li>
    <li>Baju Sejuk (Jika Perlu)</li>
    <li>Air Mineral/Botol Air</li>
  </ol>

  <br><!-- ETIKA PAKAIAN & TEMA -->
  <h4><u>ETIKA PAKAIAN & TEMA</u></h4>
  <b>Pakaian Sepanjang Program</b><br>
  -Formal atau Casual. Pemakaian jeans tidak digalakkan sama sekali<br><br>
  <b>Tema pakaian bergambar hari kedua (Sabtu-<%= (@college.start+1.days).strftime('%d/%^b/%y')%>)</b><br>
  -<%= @college.thm %><br>
  <% end %>

  <br><br><!-- JADUAL PROGRAM -->
  <h4><u>JADUAL PROGRAM</u></h4>
  <%= render 'colleges/schd', vw: 0 %>
</div><br>

<!--
<%
  assg = @college.start + 7.days
  certt = @college.start + 10.days
%>

TARIKH AKHIR PENGHANTARAN TUGASAN INDIVIDU : 
<strong><%= assg.strftime("%d-%^b-%Y") %>&nbsp
          (<%= assg.strftime("%A") %>) </strong><br>
PENYERAHAN SIJIL : 
<strong><%= certt.strftime("%d-%^b-%Y") %>&nbsp
          (<%= certt.strftime("%A") %>) </strong><br> -->
