<meta name="viewport" content="width=768">

<% 
  if params[:volunteer].present?
    tp="Volunteer's"
    link = new_vltr_url
  elsif params[:children].present?
    tp="Children's"
    link = new_kid_url
  end 
  box_clr = ["primary","danger", "success", "info"]
  cnt = 0
%>

<div class="badge badge-dark" style="font-size: 20px;margin-bottom: 5px"><%=  tp %> Registration</div>

<div class="table table-responsive border" style="font-size:13px">
  <table class="table table-bordered table-striped shadow" width="100%" cellspacing="0">
    <thead>
      <tr class="shadow">
        <th style="background-color:#ffb2b2; width: 30%">NAME</th>
        <th style="background-color:#ffb2b2; width: 30%">ADDRESS</th>
      </tr>
    </thead>
    <tbody>

      <% Taska.where(id: $cakna21).where.not(id: [606,613]).order('othnm ASC').each do |tsk|  %>
        <tr>
          <td>
            <%= link_to "#{tsk.othnm}", "#{link}?taska_id=#{tsk.id}&ckn=1", class: "badge badge-primary", style: "font-size: 12px" %>
          </td>
          <td>
            <b><%= tsk.name %></b><br>
            <%= "#{tsk.address_1}, #{tsk.address_2}, #{tsk.city}, #{tsk.postcode}, #{tsk.states}" %><br>
            <i><%= "#{tsk.phone_1}-#{tsk.phone_2}" %></i>
          </td>
        </tr>   
      <% end %>

      <% Taska.where(id: $cakna21).where(id: [606,613]).order('othnm ASC').each do |tsk|  %>
        <tr>
          <td>
            <%= link_to "#{tsk.othnm}", "#{link}?taska_id=#{tsk.id}&ckn=1", class: "badge badge-primary", style: "font-size: 12px" %>
          </td>
          <td>
            <b><%= tsk.name %></b><br>
            <%= "#{tsk.address_1}, #{tsk.address_2}, #{tsk.city}, #{tsk.postcode}, #{tsk.states}" %><br>
            <i><%= "#{tsk.phone_1}-#{tsk.phone_2}" %></i>
          </td>
        </tr>   
      <% end %>

    </tbody>
  </table>
</div>
</meta>