


<!-- START TABLE -->
<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header">
    <div class="row">
      <%= form_tag cknstd_path, method: :get, id: "find_kid" do %>
        <%= text_field_tag :sch_str, params[:sch_str], placeholder: "Search Here", style: 'text-transform: uppercase' %>
        <%= select_tag :taska_id, 
                    options_from_collection_for_select(@taskas.order('name ASC'), :id, :name, params[:taska_id]), {include_blank: "All Centers"} %>
        <%= hidden_field_tag :sch, params[:sch], value: true %>
        <%= button_tag(type: :submit, class: "badge badge-success shadow-none", style: "font-size: 14px; border-style: none; font-weight: normal",  id: "submit_expense") do %>
            <i class="fa fa-search"></i> Search
        <% end %>

        <%= link_to cknstd_path, class: "badge badge-danger shadow-sm", style: "font-size: 14px; font-weight: normal" do %>
            <i class="fa fa-sync"></i> Clear
        <% end %>
        <%= "#{@kids.count} result(s) found" %>
        <%= link_to rptckn_path, class: "badge badge-secondary shadow-sm", style: "font-size: 14px; font-weight: normal" do %>
            <i class="fa fa-arrow-circle-left"></i> Back to Summary
        <% end %>
      <% end %>
      <div>
        
      </div>
    </div>
  </div>
  <div class="card-body">
    
  <% if @kids.count < 1 %>
    <br>
    <div style="background-color:#ffcccc"><h3 align="center">NO RESULT FOUND</h3></div>
  <% else %>
    
    
    <div class="table table-responsive border" style="font-size:13px">
        <table class="table table-bordered table-striped shadow" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr class="shadow">
              <th style="background-color:#ffb2b2">NAME</th>
              <th style="background-color:#ffb2b2; width: 20%">CENTER DETAILS</th>
            </tr>
          </thead>
          <tbody>
            <% @kids.order('name ASC').each do |kid| %>
              <tr>
                <td>
                  <a href="/kids/<%= kid.id %>" target="_blank"><font style="color: blue">
                    <%= kid.name %>   
                  </font></a><br>
                  <%= "#{kid.ic_1}-#{kid.ic_2}-#{kid.ic_3}" %><br>
                  <% Date.today.year - kid.dob.year %>
                  <% diff = (Date.today.year*12+Date.today.month) - (kid.dob.year*12+kid.dob.month) %>
                  <% year = diff/12 %>
                  <% month = diff - year*12 %>
                  <%= year %> years <%= month %> months 
                </td>
                <td>
                  <%= kid.classroom.classroom_name %><br>
                  <b><%= link_to "#{kid.taska.name}", taska_path(kid.taska) %></b>
                </td>
              </tr>
              
            
            <% end %> <!-- END LOOP -->
          </tbody>
        </table>
    </div>
  </div>
  <% end %>
</div>