<div class="badge badge-dark" style="font-size: 20px;margin-bottom: 5px">VOLUNTEERS LIST</div>

<%

  disb = true
  disb = false unless params[:id].present?

%>



<!-- START TABLE -->
<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header">
    <div class="row">
      <%= form_tag cknvltr_path, method: :get, id: "find_kid" do %>
        <%= text_field_tag :sch_str, params[:sch_str], placeholder: "Search Here", style: 'text-transform: uppercase' %>
        <% if !disb %>
          <%= select_tag :taska_id, 
                      options_from_collection_for_select(@taskas.order('othnm ASC'), :id, :othnm, params[:taska_id]), {include_blank: "All Centers"} %>
        <% end %>
        <%= hidden_field_tag :sch, params[:sch], value: true %>
        <%= hidden_field_tag :id, params[:id], value: params[:id] %>
        <%= button_tag(type: :submit, class: "badge badge-success shadow-none", style: "font-size: 14px; border-style: none; font-weight: normal",  id: "submit_expense") do %>
            <i class="fa fa-search"></i> Search
        <% end %>

        <%= link_to cknvltr_path(id: params[:id]), class: "badge badge-danger shadow-sm", style: "font-size: 14px; font-weight: normal" do %>
            <i class="fa fa-sync"></i> Clear
        <% end %>
        <%= "#{@vltrs.count} result(s) found" %>

        <% if !disb %>
          <%= link_to rptckn_path, class: "badge badge-secondary shadow-sm", style: "font-size: 14px; font-weight: normal" do %>
              <i class="fa fa-arrow-circle-left"></i> Back to Summary
          <% end %>
        <% end %>
      <% end %>
      <div>
        
      </div>
    </div>
  </div>
  <div class="card-body">
    
  <% if @vltrs.count < 1 %>
    <br>
    <div style="background-color:#ffcccc"><h3 align="center">NO RESULT FOUND</h3></div>
  <% else %>
    
    
    <div class="table table-responsive border" style="font-size:13px">
        <table class="table table-bordered table-striped shadow" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr class="shadow">
              <th style="background-color:#ffb2b2; width: 50%">NAME</th>
              <th style="background-color:#ffb2b2; width: 50%">CENTER</th>
            </tr>
          </thead>
          <tbody>
            <% @vltrs.order('name ASC').each do |vltr| %>
              <tr>
                <td>
                  <%= link_to vltr.name, prfvltr_path(id: vltr.id), target: "_blank" %>
                </td>
                <td><%= vltr.taska.othnm %></td>
              </tr>
              
            
            <% end %> <!-- END LOOP -->
          </tbody>
        </table>
    </div>
  </div>
  <% end %>
</div>