
<% @tot  %>

<%
  if @admin.id == 301
    url_kd = "#"
    url_vl = "#"
  else
    url_kd = cknstd_url
    url_vl = cknvltr_url
  end
%>

<meta name="viewport" content="width=768">
<!-- <div class="">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <b>Summary for Program Cakna Anak</b> &nbsp
      <%= link_to "#", class: "badge badge-primary shadow-sm", style: "font-size: 14px; font-weight: normal" do %>
            <i class="fa fa-download"></i> Download Report
        <% end %>
    </li>
  </ol>
</div> -->

<% link_to "print", rptckn_path(pdf: 1, format: :pdf) %>
          
<div style="background-color: red;margin-bottom: -5px">
  <h3 style="text-align: center; color: white">INITIATIF CAKNA ANAK BARISAN HADAPAN</h3>
</div>

<div class="bg-white" style="margin-bottom: 15px; text-align: center" >
<i>Report as of <%= Time.now.strftime('%d-%^b-%Y %I:%M%p') %></i>
</div>

<div style="page-break-after: always;margin-bottom: 10px">

  <ol class="breadcrumb">
    <li class="breadcrumb-item" style="margin-bottom: -10px">
      <h5 style="text-align: left; color: black; margin-left: 10px">PROGRAM SUMMARY</h5>
    </li>
  </ol>

  <div class="row">
    <!-- Earnings (Monthly) Card Example -->
    
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-3" style="padding-bottom: 10px">
      <div class="card border-left-danger shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">No of Centers</div>
              <div class="row no-gutters align-items-center">
                <div class="col-auto">
                  <a href="#">
                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800"><%= @taskas.count %></div>
                  </a>
                </div>
                <div class="col">
                </div>
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-building fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-3" style="padding-bottom: 10px">
      <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-success text-uppercase mb-1">No of Childrens</div>
              <div class="row no-gutters align-items-center">
                <div class="col-auto">
                  <a href="<%= url_kd %>">
                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800"><%= @kids.count %></div>
                  </a>
                </div>
                <div class="col">
                </div>
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-child fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-3" style="padding-bottom: 10px">
      <div class="card border-left-warning shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">No of Volunteers</div>
              <div class="row no-gutters align-items-center">
                <div class="col-auto">
                  <a href="<%= url_vl %>">
                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800"><%= @vltrs.count %></div>
                  </a>
                </div>
                <div class="col">
                </div>
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-hands-helping fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-3" style="padding-bottom: 10px">
      <div class="card border-left-info shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-info text-uppercase mb-1">No of Parents</div>
              <div class="row no-gutters align-items-center">
                <div class="col-auto">
                  <a href="#">
                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800"><%= @parent_arr.count %></div>
                  </a>
                </div>
                <div class="col">
                </div>
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-user-friends fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- CENTER TABLE -->
  <div class="card mb-3">
    <div class="card-header">
      <i class="fas fa"></i>
      <b>CENTERS SUMMARY (<%= @taskas.count %>)</b>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-striped table-bordered" style="font-size: 12px" width="100%" cellspacing="0">
          <thead class="thead-dark" style="background-color: #9999ff">
            <tr>
              <th style="width: 20%"> CENTER NAME </th>
              <th style="width: 10%"> NO OF CHILDRENS </th>
              <th style="width: 10%"> NO OF VOLUNTEERS </th>
              <th style="width: 10"> NO OF PARENTS </th>
              <th style="width: "> ADDRESS </th>
            </tr>
          </thead>
          <tbody>

            <% @taskas.where.not(id: [606,613]).order('othnm ASC').each do |kuli|%>
              <tr>
                <td>
                  <%= kuli.othnm %>
                </td>
                <td>
                  
                    <% if [286,606,592].include? kuli.id %>
                      <%= kuli.kids.where.not(classroom_id: nil).count %> 
                    <% else %>
                      <%= kuli.kids.count %>
                    <% end %>
                </td>
                <td>
                  
                    <%= kuli.vltrs.count %>
                </td>
                <td>
                  <%= Kid.where(id: @kid_arr).group(:taska_id).count[kuli.id] %>
                  <%= "0" unless Kid.where(id: @kid_arr).group(:taska_id).count[kuli.id].present? %>
                </td>
                <td>
                  <b><%= kuli.name %></b><br>
                  <%= kuli.address_1 %>&nbsp
                  <%= kuli.address_2 %>&nbsp
                  <%= kuli.city %>&nbsp
                  <%= kuli.postcode %>&nbsp<%= kuli.states %><br>  
                </td>  
              </tr>
            <% end %> 

            <% @taskas.where(id: [606,613]).order('othnm ASC').each do |kuli|%>
              <tr>
                <td>
                  <%= kuli.othnm %>
                </td>
                <td>
                  
                    <% if [286,606,592].include? kuli.id %>
                      <%= kuli.kids.where.not(classroom_id: nil).count %> 
                    <% else %>
                      <%= kuli.kids.count %>
                    <% end %>
                  
                </td>
                <td>
                  
                    <%= kuli.vltrs.count %>
                </td>
                <td>
                  <%= Kid.where(id: @kid_arr).group(:taska_id).count[kuli.id] %>
                  <%= "0" unless Kid.where(id: @kid_arr).group(:taska_id).count[kuli.id].present? %>
                </td>
                <td>
                  <b><%= kuli.name %></b><br>
                  <%= kuli.address_1 %>&nbsp
                  <%= kuli.address_2 %>&nbsp
                  <%= kuli.city %>&nbsp
                  <%= kuli.postcode %>&nbsp<%= kuli.states %><br>  
                </td>  
              </tr>
            <% end %> 

          </tbody>
        </table>
      </div>
    </div>


</div>
</div>

<!-- CHILDREN'S STATISTICS -->
<div style="page-break-after: always">

  <ol class="breadcrumb">
    <li class="breadcrumb-item" style="margin-bottom: -10px">
      <h5 style="text-align: left; color: black; margin-left: 10px">CHILDREN'S DEMOGRAPHY</h5>
    </li>
  </ol>

  <div class="row">
    
    <div class="col-lg-12 col-md-12" style="margin-bottom: 20px;margin-top: -10px;" align="center">
      <div class="card"><div class="card-body">
      <div style="background-color: #a52a2a; margin-top: -15px">
        <h6 style="text-align: center; color: white">Children's Gender</i></h6>
      </div>
      <%= pie_chart @kid_gender, width: "400px", height: "400px", legend: true, donut: true  %>  
      </div></div> 
    </div>
    

    <div class="col-lg-12 col-md-12" style="margin-bottom: 20px;margin-top: -10px" align="center">
      <div class="card"><div class="card-body">
      <div style="background-color: #a52a2a; margin-top: -15px">
        <h6 style="text-align: center; color: white">Children's Age</i></h6>
      </div> 
      <%= bar_chart @kid_age, colors: ["#329932"] ,width: "500px", height: "400px" %> 
      </div></div>
    </div>

    <div class="col-lg-12 col-md-12" style="margin-bottom: 20px;margin-top: -10px" align="center">
      <div class="card"><div class="card-body">
      <div style="background-color: #a52a2a; margin-top: -15px">
        <h6 style="text-align: center; color: white">Children With Special Needs</i></h6>
      </div>  
      <%= bar_chart @kid_oku, colors: ["#ffa500"], width: "600px", height: "300px"  %> 
      </div></div>
    </div>
    
  </div>

</div>

<!-- PARENT'S STATISTICS -->
<div style="page-break-after: always">
  <ol class="breadcrumb">
    <li class="breadcrumb-item" style="margin-bottom: -10px">
      <h5 style="text-align: left; color: black; margin-left: 10px">PARENTS' DEMOGRAPHY</h5>
    </li>
  </ol>

  <div class="row">
    
    <div class="col-lg-12 col-md-12" style="margin-bottom: 20px;margin-top: -10px;" align="center">
      <div class="card"><div class="card-body">
      <div style="background-color: #a52a2a; margin-top: -15px">
        <h6 style="text-align: center; color: white">Parents' Job Sector</i></h6>
      </div>
      <%= bar_chart @parent_sct,colorss: [], width: "600px", height: "400px"  %>  
      </div></div> 
    </div>
    

    <div class="col-lg-12 col-md-12" style="margin-bottom: 20px;margin-top: -10px" align="center">
      <div class="card"><div class="card-body">
      <div style="background-color: #a52a2a; margin-top: -15px">
        <h6 style="text-align: center; color: white">Parents' Job Grade</i></h6>
      </div> 
      <%= pie_chart @parent_grd, width: "400px", height: "400px" %> 
      </div></div>
    </div>

    <div class="col-lg-12 col-md-12" style="margin-bottom: 20px;margin-top: -10px" align="center">
      <div class="card"><div class="card-body">
      <div style="background-color: #a52a2a; margin-top: -15px">
        <h6 style="text-align: center; color: white">Monthly Household Income</i></h6>
      </div>  

      <%= bar_chart @parent_income, colors: ["#8c198c"], width: "500px", height: "400px"  %> 
      </div></div>
    </div>
    
  </div>

</div>

<!-- VOLUNTEER'S STATISTICS -->
<div style="page-break-after: always">
  <ol class="breadcrumb">
    <li class="breadcrumb-item" style="margin-bottom: -10px">
      <h5 style="text-align: left; color: black; margin-left: 10px">VOLUNTEERS' DEMOGRAPHY</h5>
    </li>
  </ol>

  <div class="row">
    
    <div class="col-lg-12 col-md-12" style="margin-bottom: 20px;margin-top: -10px;" align="center">
      <div class="card"><div class="card-body">
      <div style="background-color: #a52a2a; margin-top: -15px">
        <h6 style="text-align: center; color: white">Volunteers' Gender</i></h6>
      </div>
      <%= pie_chart @vltr_gender, width: "500px", height: "400px", donut: true  %>  
      </div></div> 
    </div>
    

    <div class="col-lg-12 col-md-12" style="margin-bottom: 20px;margin-top: -10px" align="center">
      <div class="card"><div class="card-body">
      <div style="background-color: #a52a2a; margin-top: -15px">
        <h6 style="text-align: center; color: white">Volunteers' Marital Status</i></h6>
      </div> 
      <%= column_chart @vltr_marr,colors: ["#198c19"], width: "600px", height: "350px" %> 
      </div></div>
    </div>

    <div class="col-lg-12 col-md-12" style="margin-bottom: 20px;margin-top: -10px" align="center">
      <div class="card"><div class="card-body">
      <div style="background-color: #a52a2a; margin-top: -15px">
        <h6 style="text-align: center; color: white">Volunteers' Education Status</i></h6>
      </div>  
      
      <%= bar_chart @vltr_edu,colors: ["#ff3232"], width: "500px", height: "400px"  %> 
      </div></div>
    </div>
    
  </div>

</div>





</meta>
