
<div class="">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <b>Summary for Program Cakna Anak</b> &nbsp
      <%= link_to "#", class: "badge badge-primary shadow-sm", style: "font-size: 14px; font-weight: normal" do %>
            <i class="fa fa-download"></i> Download Report
        <% end %>
    </li>
  </ol>
</div>
          


<div class="row">

  <!-- Earnings (Monthly) Card Example -->
  
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-3" style="padding-bottom: 10px">
    <div class="card border-left-danger shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">No of Centers</div>
            <div class="row no-gutters align-items-center">
              <div class="col-auto">
                <a href="<%= lsctr_url %>">
                  <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800"><%= @taskas.count %></div>
                </a>
              </div>
              <div class="col">
              </div>
            </div>
          </div>
          <div class="col-auto">
            <i class="fas fa-building fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  

  <!-- Earnings (Monthly) Card Example -->
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-3" style="padding-bottom: 10px">
    <div class="card border-left-success shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">No of Childrens</div>
            <div class="row no-gutters align-items-center">
              <div class="col-auto">
                <a href="<%= cknstd_url %>">
                  <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800"><%= @kids.count %></div>
                </a>
              </div>
              <div class="col">
              </div>
            </div>
          </div>
          <div class="col-auto">
            <i class="fas fa-child fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Earnings (Monthly) Card Example -->
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-3" style="padding-bottom: 10px">
    <div class="card border-left-warning shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">No of Volunteers</div>
            <div class="row no-gutters align-items-center">
              <div class="col-auto">
                <a href="https://www.google.com">
                  <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800"><%= @vltrs.count %></div>
                </a>
              </div>
              <div class="col">
              </div>
            </div>
          </div>
          <div class="col-auto">
            <i class="fas fa-hands-helping fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>