<h1 align="center">KIDCARE SYSTEM VIDEOS TUTORIAL</h1>



<% if 1==0 #!current_admin %>
  <h4 align="center">Please Login To View Tutorial</h4>
<% else %>
  <h4 align="center">(Please Click The Button To View Any Tutorial)</h4><br>
  
  <% 
    tut_init = [
      ["Login & Update Center Details","_Gah_4WB_f8"],

    ]
    cnt = 1
    tut_hash = {}
    tut_init.each do |k|
      tut_hash[cnt] = k
      cnt += 1
    end

  %>

  <% tut_hash.each do |tutid,detl| %>
    <!-- NEXT VIDEO -->
    <button type="button" class="btn btn-success btn-block" data-toggle="collapse" data-target="#filter-panel<%= tutid %>">
      
      <div style="text-align: left"><%= "#{tutid}. #{detl[0]}" %></div>
    </button>
    <div id="filter-panel<%= tutid %>" class="collapse filter-panel<%= tutid %>">
      <hr><br>
      <div class="iframe-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= detl[1] %>" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>   
    <br>
  <% end %>


<% end %>

<%= root_path %>
<script type="text/javascript" src="/mus_js/tutorial_mus.js"></script>























        
  


