<h1 align="center">KIDCARE SYSTEM VIDEO TUTORIAL</h1>



<% if 1==0 #!current_admin %>
  <h4 align="center">Please Login To View Tutorial</h4>
<% else %>
  <h4 align="center">(Please Click The Button To View Any Tutorial)</h4><br>
  
  <% 
    tut_init = [
      ["Login & Update Center Details","_Gah_4WB_f8"],
      ["Register Children By Parents","8TOnp3hLxFw"],
      ["Register Children By Admin","8TOnp3hLxFw"],
      ["Create Classrooms","8TOnp3hLxFw"],
      ["Assign Children to Classroom","8TOnp3hLxFw"],
      ["Create Extras","8TOnp3hLxFw"],
      ["Children Bill Setting","8TOnp3hLxFw"],      
      ["Create Children Bill","8TOnp3hLxFw"],
      ["Edit Children Bill","8TOnp3hLxFw"],
      ["View & Print Children Profile","8TOnp3hLxFw"],
      ["Edit Children Profile","8TOnp3hLxFw"],
      ["Download Children Lists","8TOnp3hLxFw"],
      ["View Center Account","8TOnp3hLxFw"],
      ["Download Center Account Report","8TOnp3hLxFw"],
      ["Create New Expense & Income in Account","8TOnp3hLxFw"],
      ["Teacher Registration","8TOnp3hLxFw"],
      ["Assign Teacher to Center","8TOnp3hLxFw"],
      ["Create Teacher Payslip","8TOnp3hLxFw"],
      ["Edit Teacher Payslip","8TOnp3hLxFw"],
      ["View & Download Payslip","8TOnp3hLxFw"],
      ["Apply Leave by Teacher","8TOnp3hLxFw"],
      ["Approve Teacher Leave","8TOnp3hLxFw"],
      ["Automation Setting","8TOnp3hLxFw"],
      ["Student Attendance","8TOnp3hLxFw"],
      ["Logbook For Teacher","8TOnp3hLxFw"],
      ["Logbook For Admin","8TOnp3hLxFw"],
      ["Logbook For Parent","8TOnp3hLxFw"],

    ]
    cnt = 1
    tut_hash = {}
    tut_init.each do |k|
      tut_hash[cnt] = k
      cnt += 1
    end

  %>

  <% tut_hash.each do |tutid,detl| %>
    <!-- NEXT VIDEO -->
    <button type="button" class="btn btn-success btn-block" data-toggle="collapse" data-target="#filter-panel<%= tutid %>">
      
      <div style="text-align: left"><%= "#{tutid}. #{detl[0]}" %></div>
    </button>
    <div id="filter-panel<%= tutid %>" class="collapse filter-panel<%= tutid %>">
      <hr><br>
      <div class="iframe-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= detl[1] %>" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>   
    <br>
  <% end %>


  <!-- OLD VID -->
  <!-- NEXT VIDEO -->
  <button type="button" class="btn btn-info btn-md" data-toggle="collapse" data-target="#filter-panel0">
    <span class="fas fa-angle-double-down"></span>&nbsp&nbsp STEP 01 : REGISTER CENTER
  </button>
  <div id="filter-panel0" class="collapse filter-panel0">
    <hr><br>
    <div class="iframe-container">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/_Gah_4WB_f8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>   
  <br><br> 

  <!-- NEXT VIDEO -->
  <button type="button" class="btn btn-info btn-md" data-toggle="collapse" data-target="#filter-panel1">
    <span class="fas fa-angle-double-down"></span>&nbsp&nbsp STEP 02 : UPDATE CENTER PROFILE
  </button>
  <div id="filter-panel1" class="collapse filter-panel1">
    <hr><br>
    <div class="iframe-container">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/yqWputH8wiE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>   
  <br><br>

  <!-- NEXT VIDEO -->
  <button type="button" class="btn btn-info btn-md" data-toggle="collapse" data-target="#filter-panel2">
    <span class="fas fa-angle-double-down"></span>&nbsp&nbsp STEP 03 : CREATE CLASSROOM
  </button>
  <div id="filter-panel2" class="collapse filter-panel2">
    <hr><br>
    <div class="iframe-container">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/8TOnp3hLxFw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>   
  <br><br>

  <!-- NEXT VIDEO -->
  <button type="button" class="btn btn-info btn-md" data-toggle="collapse" data-target="#filter-panel4">
    <span class="fas fa-angle-double-down"></span>&nbsp&nbsp STEP 04 : REGISTER CHILDREN
  </button>
  <div id="filter-panel4" class="collapse filter-panel4">
    <hr>
    
    <!-- NEXT VIDEO -->
    <button type="button" class="btn btn-success btn-sm" data-toggle="collapse" data-target="#filter-panel4-1">
      <span class="fas fa-arrow-alt-circle-down"></span>&nbsp&nbsp STEP 04-1 : REGISTER CHILDREN BY PARENTS
    </button>
    <div id="filter-panel4-1" class="collapse filter-panel4-1">
      <hr><br>
      <div class="iframe-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/t1ucko2Jpu4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>   
    <br><br>

    <!-- NEXT VIDEO -->
    <button type="button" class="btn btn-success btn-sm" data-toggle="collapse" data-target="#filter-panel4-2">
      <span class="fas fa-arrow-alt-circle-down"></span>&nbsp&nbsp STEP 04-2 : REGISTER CHILDREN BY ADMIN/SUPERVISOR
    </button>
    <div id="filter-panel4-2" class="collapse filter-panel4-2">
      <hr><br>
      <div class="iframe-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/nSgiAYHB4c8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>   
    <hr>


  </div>   
  <br><br>

  <!-- NEXT VIDEO -->
  <button type="button" class="btn btn-info btn-md" data-toggle="collapse" data-target="#filter-panel3">
    <span class="fas fa-angle-double-down"></span>&nbsp&nbsp STEP 05 : ASSIGN CHILDREN TO CLASSROOM
  </button>
  <div id="filter-panel3" class="collapse filter-panel3">
    <hr><br>
    <div class="iframe-container">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/B8olg78wjFY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>   
  <br><br>

  <!-- NEXT VIDEO -->
  <button type="button" class="btn btn-info btn-md" data-toggle="collapse" data-target="#filter-panel5">
    <span class="fas fa-angle-double-down"></span>&nbsp&nbsp STEP 06 : EXTRAS
  </button>
  <div id="filter-panel5" class="collapse filter-panel5">
    <hr><br>
    <div class="iframe-container">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/l2m1_J0R2bw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>   
  <br><br>



  <!-- NEXT VIDEO -->
  <button type="button" class="btn btn-info btn-md" data-toggle="collapse" data-target="#filter-panel6">
    <span class="fas fa-angle-double-down"></span>&nbsp&nbsp STEP 07 : NEW ADMIN OR SUPERVISOR
  </button>
  <div id="filter-panel6" class="collapse filter-panel6">
    <hr><br>
    <div class="iframe-container">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/l4Cn8FEIxSg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>   
  <br><br>

  <!-- NEXT VIDEO -->
  <button type="button" class="btn btn-info btn-md" data-toggle="collapse" data-target="#filter-panel7">
    <span class="fas fa-angle-double-down"></span>&nbsp&nbsp STEP 08 : BILLS
  </button>
  <div id="filter-panel7" class="collapse filter-panel7">
    <hr>
    
    <!-- NEXT VIDEO -->
    <button type="button" class="btn btn-success btn-sm" data-toggle="collapse" data-target="#filter-panel7-1">
      <span class="fas fa-arrow-alt-circle-down"></span>&nbsp&nbsp STEP 04-1 : REGISTER CHILDREN BY PARENTS
    </button>
    <div id="filter-panel7-1" class="collapse filter-panel7-1">
      <hr><br>
      <div class="iframe-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/t1ucko2Jpu4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>   
    <br><br>

    <!-- NEXT VIDEO -->
    <button type="button" class="btn btn-success btn-sm" data-toggle="collapse" data-target="#filter-panel7-2">
      <span class="fas fa-arrow-alt-circle-down"></span>&nbsp&nbsp STEP 04-2 : REGISTER CHILDREN BY ADMIN/SUPERVISOR
    </button>
    <div id="filter-panel7-2" class="collapse filter-panel7-2">
      <hr><br>
      <div class="iframe-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/nSgiAYHB4c8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>   
    <hr>


  </div>   
  <br><br>

<% end %>























        
  


