<!-- MUS -->
<div class="row">
  <div class="col-md-6">

    <%= render 'kids/kid-bill' %>
    <%
      tot_bill = @payment.amount - @payment.addtns.sum(:amount) + @payment.discount.to_f
      Otkid.where(payment_id: @payment.id).each do |otk|
        tot_bill -= otk.amt
      end
    %>
    <%= tot_bill %>
    
  </div> <!-- DIV 6 BILL -->
  
  <div class="col-md-6 bg-light">
    <% if !@payment.paid %>
      <%= form_for(:bl, :url => {:controller=>'payments', :action=>'upd_bill'}, :html => {multipart: true, class: "form-horizontal", method: :post, role: "form"}) do |f| %>
        <%= f.hidden_field :pmt_id, value: @payment.id %>
        <!-- SIBLINGS DETAILS -->
        <div class="text-center" style="background-color:#7fbf7f">
          <font color="white"><strong>SIBLINGS DETAILS<br></strong></font>     
          <p></p>
        </div>
        <div class="table table-responsive border" style="font-size:13px; margin-top: -15px">
          
          <table class="table table-bordered table-striped shadow">
            <thead>
              <tr class="shadow" style="text-color:black">
                <th style="background-color:#ffccff; width: 50%">NAME</th>
                <th style="background-color:#ffccff; width: 50%">OT CHARGES</th>         
              </tr>
            </thead>
            <tbody>
              <%= f.fields_for :kd do |g| %>
                <% @kbs.each do |kb| 
                  kid= kb.kid
                  otkd = Otkid.where(payment_id: @payment.id, kid_id: kid.id).first
                  if otkd.present?
                    otamt = otkd.amt
                    otdesc = otkd.descotk
                  else
                    otamt = nil
                    otdesc = nil
                  end 
                %>
                  <%= g.fields_for :"#{kid.id}" do |h| %>
                    <tr>
                      <td><b><%= kid.name %></b></td>
                      <td>
                        AMOUNT (RM)
                        <%= h.number_field :amt, rows: 10, class: "form-control", :step => 0.01, placeholder: "AMOUNT", style: "font-size: 12px",value: otamt %> 
                        DESCRIPTION  
                        <%= h.text_area :descotk, class: "form-control", placeholder: "DESCRIPTION", autofocus: true, style: "font-size: 12px", value: otdesc  %>  
                      </td>
                      <% if 1==0 %><td>
                        <!-- Display all extras -->


                        <!-- Form to submit new extras -->
                        <%= form_for(kid, :url => {:controller=>'extras', :action=>'add_kid_extras'}, :html => {multipart: true, class: "form-horizontal", method: :get, role: "form"}) do |g| %>
                          <%= g.select :extra_ids, 
                          options_from_collection_for_select(kid.taska.extras.order('name ASC'), :id, :name),{include_blank: "SELECT EXTRA"},
                          style: "width: 120px" %>
                        <% end %>
                      </td><% end %>
                    </tr>
                  <% end %> <!-- END FIELDS H-->
                <% end %> <!-- END FIELDS G-->
              <% end %> <!-- END FOR EACH -->
            </tbody>
          </table>
        </div>

        <div class="row" style="margin-bottom: 10px">

          <div class="col-md-6" style="margin-right: -5px">
            <!-- BILL DISCOUNT -->
            <div class="text-center" style="background-color:#ff6666; margin-bottom: -10px">
              <font color="white"><strong>BILL DISCOUNT<br></strong>
              <p style="font-size: 12px; margin-top: -5px">Amount to be DEDUCTED from the total</p></font>
            </div>
            Discount Amount (RM)
            <%= f.number_field :discount, class: "form-control", :step => 0.01, style: "font-size: 12px",value: @payment.discount %>
            Description 
            <%= f.text_area :descdx, class: "form-control", autofocus: true, style: "font-size: 12px", value: @payment.discdx  %> 
          </div>

          <div class="col-md-6" style="margin-left: -5px">
            <!-- OTHER CHARGES -->
            <%
              adt = @payment.addtns.first
              adt_amt = nil
              adt_desc = nil
              if adt.present?
                adt_amt = adt.amount
                adt_desc = adt.desc
              end
            %>
            <div class="text-center" style="background-color:#7f7fff; margin-bottom: -10px">
              <font color="white"><strong>OTHER CHARGES<br></strong>
              <p style="font-size: 12px; margin-top: -5px">Amount to be ADDED to the total</p></font>
            </div>
            Additional Amount (RM)
            <%= f.number_field :adt_amt, class: "form-control", :step => 0.01, style: "font-size: 12px",value: adt_amt %>
            Description 
            <%= f.text_area :adt_desc, class: "form-control", autofocus: true, style: "font-size: 12px", value: adt_desc  %>  
          </div>


        </div> <!-- div row -->
        <%= f.hidden_field :tot_bill, value: tot_bill %>
        <%= f.submit :"UPDATE",  class: 'btn btn-sm btn-block btn-warning btn-lg', style: "align:center", data: { confirm: 'Please check all details before submission. All input will be final after submission' } %>

      <% end %> <!-- END FORM -->
    <% end %> <!-- END PAID -->
  </div> <!-- DIV 6 EDIT -->
  

</div> <!-- DIV ROW -->


















