<h4>PLEASE CHOOSE A MONTH</h4>

<%= form_for(:payment, :url => {:controller=>'payments', :action=>'chek_bill'}, :html => {multipart: true, class: "form-horizontal", method: :get, role: "form"}) do |f| %>
  <div class="form-group"> <!-- name -->
    <div class="container">
      <div class="row">
        <div class="control-label col-sm-2">
         <strong>MONTH</strong>
          <%= f.select :month, options_for_select(1..12,selected: Date.today.month),
              {include_blank: "Please Select"}, {required: true} %>
        </div>
        <div class="control-label col-sm-2">
         <strong>YEAR</strong>
          <% yr = Date.today.year %>
          <%= f.select :year, options_for_select((yr-4)..(yr+2),selected: yr),
              {include_blank: "Please Select"}, {required: true} %>
        </div>
        <%= f.hidden_field :taska, value: params[:taska] %>
        <%= f.hidden_field :child, value: params[:child] %>
        <%= f.hidden_field :classroom, value: params[:classroom] %>
        <div class="control-label col-sm-2">
          <br>
          <%= f.submit :"CREATE BILL", class: 'btn btn-primary btn-sm' %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<div class="card-header">
    BILL LIST FOR <strong><%= @kid.name %></strong>
  </div>
</div>
<%= render 'taskas/bill-list' %>


