<% [["1",@lgbk.nmaktdk1],["2",@lgbk.nmaktdk2],["3",@lgbk.nmaktdk3],["4",@lgbk.nmaktdk4]].each do |kv| %>
  <tr>
    <td style="font-size: 15px; text-align: left">
      AKTIVITI <%= kv[0] %></b><br>
    </td>
    <td style="font-size: 15px; text-align: left">
      <%= kv[1] %><br><br>
      <% image = @lgbk.fotos.where(foto_name: "GAMBAR #{kv[0]}").first %>
          <% if image.picture.present? %>
            <a href="<%= image.picture.url %>" target="_blank">
              <%= image_tag(image.picture.url, size: "200x200") %>  
            </a>
          <% end %>
      
    </td>
  </tr>
<% end %>
<tr>
  <td style="font-size: 15px; text-align: left">
    REFLEKSI & PELAPORAN</b><br>
  </td>
  <td style="font-size: 15px; text-align: left">
    <b><%= @lgbk.rfpltdk %></b>
  </td>
</tr>
 