<%= form_for(:lgbk, :url => {:controller=>'lgbks', :action=>'tch_upd'}, :html => {multipart: true, class: "form-horizontal", method: :post, role: "form"}) do |f| %>

  <div class="col-12" style="margin-left: 0px;margin-top: 10px;margin-right: 0px;">
    <div class="table table-responsive border" style="font-size:12px">
      <table class="table table-bordered table-striped shadow" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr class="shadow">
            <th style="background-color:#ffb2b2; width: 20%">Perkara</th>
            <th style="background-color:#ffb2b2">Maklumat</th>
        </thead>
        <tbody>
          <tr>
            <td>Nama & Aktiviti</td>
            <td>
              <%= f.text_area :nmaktdk, autofocus: true, value: @lgbk.nmaktdk, style: "width: 100%; height: 100px" %>

              <% ["GAMBAR 1","GAMBAR 2","GAMBAR 3","GAMBAR 4"].each do |fotonm| %>
                <div class="form-group"> 
                  <div class="row">
                    <div class="control-label col-sm-8">
                      <i class="fas fa-cloud-upload-alt"></i><strong><%= fotonm %></strong>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-8 col-12">
                      <% image = @lgbk.fotos.where(foto_name: "#{fotonm}").first %>
                      <%  if image.present? %>
                        <%= image_tag(image.picture.url, size: "200x200") if image.picture? %>
                        <div class="row">
                          <div class="col-sm-8 col-5">
                            <strong><%= link_to "EDIT", edit_foto_path(image.id), class: "btn btn-sm btn-success active" %></strong>
                          </div>
                        </div>  
                      <% else %>
                        <%= f.fields_for :fotos do |h| %>
                          <div class="row">
                            <div class="col-sm-8 col-8">
                              <%= h.hidden_field :foto_name, value: "#{fotonm}" %>
                              <%= h.file_field :picture, accept: 'image/jpeg,image/gif,image/png,application/pdf'%>
                            </div>
                          </div>
                        <% end %>
                      <% end %>
                    </div>
                  </div>
                </div>
              <% end %>

            </td>

            

          </tr>
          <tr>
            <td>Refleksi & Pelaporan</td>
            <td>
              <%= f.text_area :rfpltdk, autofocus: true, value: @lgbk.rfpltdk, style: "width: 100%; height: 100px" %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <%= f.hidden_field :kid_id, value: @lgbk.kid.id %>
  <% if current_admin.present? %>
    <%= f.hidden_field :admid, value: @admin.id %>
  <% else %>
    <%= f.hidden_field :tchid, value: @teacher.id %>
  <% end %>
  <%= f.hidden_field :lgbk, value: @lgbk.id %>
  <%= f.hidden_field :tdk, value: true %>

<%= f.submit :"HANTAR",  class: 'btn btn-sm btn-block btn-success btn-lg', style: "align:center" %>

<% end %>