<tr>
  <td style="background-color:#d8b2d8; font-size: 15px; text-align: center" colspan="2"><b>Catatan Pusat Jagaan</b></td>
<tr>
  <td>Masa Masuk (Suhu)</td>
  <td>
    <% if @lgbk.cin.present? %>
      <%= @lgbk.cin[0].strftime("%l:%M %P") %>
      (<%= @lgbk.cin[2] %>&#8451)
    <% end %>
  </td>
</tr>
<tr>
  <td>Masa Keluar (Suhu)</td>
  <td>
    <% if @lgbk.cout.present? %>
      <%= @lgbk.cout[0].strftime("%l:%M %P") %>
      (<%= @lgbk.cout[2] %>&#8451)
    <% end %>
  </td>
</tr>
<tr>
  <td>Expressive language skills</td>
  <td><%= "@ste.expr" %></td>
</tr>  
<tr>
  <td>OVERALL</td>
  <td><%= "@ste.ovc" %></td>
</tr>