<div style="margin-right: -20px;margin-left: -20px;margin-top: -10px">

  <div style="text-align: left; margin-bottom: 10px">
    <%= link_to "VIEW HISTORY FOR #{@kid.name}", prt_lgbk_path, class: "badge badge-success" %>
    <%= link_to "BACK", my_kid_path(@parent), class: "badge badge-warning" %><br>
  </div>

  <div style="background-color:#ccccff; text-align: center">
    <h5><%= "#{Time.now.strftime("%d-%^b-%y")} (#{Date.today.strftime("%A")})" %></h5>
  </div>

  <%= form_tag prt_upd_path, method: :post, id: "find_kid" do %>

    <div class="row" style="margin-top: 5px">
      <div class="col-6">
        Tidur Nyenyak?
        <%= select_tag :tdo,options_for_select(["Ya","Tidak"],selected: @lgbk.tdo),include_blank: "Sila Pilih" %>
      </div>
      <div class="col-6">
        Anak Sihat?
        <%= select_tag :sih, options_for_select(["Ya","Tidak"],selected: @lgbk.sih),include_blank: "Sila Pilih" %>
      </div>
    </div>

    <div class="col-12" style="margin-left: -10px;margin-right: -10px;margin-top: 5px">
      Nyatakan Sebab Jika Tidak
      <%= text_area_tag :sbb, @lgbk.sbb, class:"col-12" %>
    </div>

    <div class="col-12" style="margin-left: -10px;margin-top: 5px;margin-right: -10px;">
      Adakah Anak Anda Sudah Dimandikan?
      <%= select_tag :mand, options_for_select(["Ya","Tidak"],selected: @lgbk.mand),include_blank: "Sila Pilih" %>
    </div>

    <div class="col-12" style="margin-left: -10px;margin-top: 10px;margin-right: -10px;">
      Alatan/Bahan yang Dibawa Dalam Beg
      <div class="table table-responsive border" style="font-size:10px">
        <table class="table table-bordered table-striped shadow" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr class="shadow">
              <th style="background-color:#ffb2b2">Perkara</th>
              <th style="background-color:#ffb2b2">Bilangan</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Botol Susu/Cip Susu</td>
              <td><%= select_tag :tool1, options_for_select(0..10,@lgbk.tool["tool1"]),include_blank: "Sila Pilih" %></td>
            </tr>
            <tr>
              <td>Lampin Pakai Buang</td>
              <td><%= select_tag :tool2, options_for_select(0..10,@lgbk.tool["tool2"]),include_blank: "Sila Pilih" %></td>
            </tr>
            <tr>
              <td>Botol Air</td>
              <td><%= select_tag :tool3, options_for_select(0..10,@lgbk.tool["tool3"]),include_blank: "Sila Pilih" %></td>
            </tr>
            <tr>
              <td>Tuala Mandi</td>
              <td><%= select_tag :tool4, options_for_select(0..10,@lgbk.tool["tool4"]),include_blank: "Sila Pilih" %></td>
            </tr>
            <tr>
              <td>Pakaian Bersih/Sepasang</td>
              <td><%= select_tag :tool5, options_for_select(0..10,@lgbk.tool["tool5"]),include_blank: "Sila Pilih" %></td>
            </tr>
            <tr>
              <td>Bekas Baju Kotor</td>
              <td><%= select_tag :tool6, options_for_select(0..10,@lgbk.tool["tool6"]),include_blank: "Sila Pilih" %></td>
            </tr>
            <tr>
              <td><%= text_field_tag :tool7_d, @lgbk.tool["tool7"][0] %></td>
              <td><%= select_tag :tool7, options_for_select(0..10,@lgbk.tool["tool7"][1]),include_blank: "Sila Pilih" %></td>
            </tr>
            <tr>
              <td><%= text_field_tag :tool8_d, @lgbk.tool["tool8"][0] %></td>
              <td><%= select_tag :tool8, options_for_select(0..10,@lgbk.tool["tool8"][0]),include_blank: "Sila Pilih" %></td>
            </tr>
            <tr>
              <td><%= text_field_tag :tool9_d, @lgbk.tool["tool9"][0] %></td>
              <td><%= select_tag :tool9, options_for_select(0..10,@lgbk.tool["tool9"][1]),include_blank: "Sila Pilih" %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-12" style="margin-left: -10px;margin-top: 10px;margin-right: -10px;">
      Ubat yang Dibawa Dalam Beg
      <div class="table table-responsive border" style="font-size:10px">
        <table class="table table-bordered table-striped shadow" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr class="shadow">
              <th style="background-color:#ffb2b2">Nama/Jenis Ubat</th>
              <th style="background-color:#ffb2b2; width: 100%">Masa</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= text_area_tag :sch_str, params[:sch_str] %></td>

              <td>
                Masa Terakhir<br>
                <%= text_field_tag :sch_str, params[:sch_str] %><br>
                Masa Seterusnya<br>
                <%= text_field_tag :sch_str, params[:sch_str] %>
                  
              </td>
            </tr>
            <tr>
              <td><%= text_area_tag :sch_str, params[:sch_str] %></td>

              <td>
                Masa Terakhir<br>
                <%= text_field_tag :sch_str, params[:sch_str] %><br>
                Masa Seterusnya<br>
                <%= text_field_tag :sch_str, params[:sch_str] %>
                  
              </td>
            </tr>
            <tr>
              <td><%= text_area_tag :sch_str, params[:sch_str] %></td>

              <td>
                Masa Terakhir<br>
                <%= text_field_tag :sch_str, params[:sch_str] %><br>
                Masa Seterusnya<br>
                <%= text_field_tag :sch_str, params[:sch_str] %>
                  
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div> <!-- DIV UBAT -->

    <div class="col-12" style="margin-left: -10px;margin-right: -10px;margin-top: 5px;margin-bottom: 20px">
      Keadaan Fizikal
      <%= text_area_tag :sch_str, params[:sch_str], placeholder: "Sila nyatakan sebarang keadaan fizikal yang ada rasa perlu disini", class:"col-12" %>
    </div>

    <%= hidden_field_tag :kid_id, params[:kid_id] %>

    <%= button_tag(type: :submit, class: "btn btn-success btn-block", style: "font-size: 14px; border-style: none; font-weight: normal",  id: "submit_expense") do %>
        <i class=""></i> Hantar
    <% end %><br><br><br>

  <% end %> <!-- END FORM -->

</div>




