
<div style="margin-right: 0px;margin-left: -10px;margin-right: -10px;margin-top: -10px">

  <div style="text-align: left; margin-bottom: 10px">
    <%= link_to "BACK", tch_std_path(@teacher, taska: @taska.id), class: "badge badge-warning" %>
    <%= link_to "PARENT NOTE", view_lgbk_path(tch: @teacher.id,lgbk: @lgbk.id, note:true), class: "badge badge-primary", target: "_blank" %>
  </div>

  <div style="background-color:#ccccff; text-align: center">
    <h4><%= @kid.name %></h4>
    <h5><%= "#{@tm.strftime("%d-%^b-%y")} (#{@tm.strftime("%A")})" %></h5>
  </div>

  <%= form_tag tch_upd_path, method: :post, id: "find_kid" do %>

    

    <div class="col-12" style="margin-left: 0px;margin-top: 10px;margin-right: 0px;">
      <div class="table table-responsive border" style="font-size:12px">
        <table class="table table-bordered table-striped shadow" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr class="shadow">
              <th style="background-color:#ffb2b2; width: 5%">Perkara</th>
              <th style="background-color:#ffb2b2">Maklumat</th>
              <th style="background-color:#ffb2b2; width: 100%">Catatan</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Susu</td>
              <td>
                <% susu_n = @lgbk.susu.count %>
                <%= hidden_field_tag :susu_n, susu_n %>
                Masa: <br>
                <%= text_field_tag :"st#{susu_n}", Time.now.strftime("%l:%M %P") %> <br>
                Kuantiti (0Z): <br>
                <%= text_field_tag :"sk#{susu_n}", @lgbk.tool["tool7_d"] %> <br>
                <% if @lgbk.susu.present? %>
                  <p style="font-size: 12px;margin-top: 5px;margin-bottom: -2px"><i><u>Record</u></i></p>
                <% (0..(susu_n-1)).each do |n| %>
                  Masa: <br>
                  <%= text_field_tag :"st#{n}", @lgbk.susu[n][0] %> <br>
                  Kuantiti (0Z): <br>
                  <%= text_field_tag :"sk#{n}", @lgbk.susu[n][1] %> <br><br>
                <% end %>
                <% end %>
              </td>
              <td>
                <%= text_area_tag :st, Time.now.strftime("%l:%M %P"), style: "width: 100%; height: 150px" %>
              </td>
            </tr>
            <tr>
              <td>Makanan</td>
              <td>
                Pagi: <br>
                <%= text_area_tag :st, Time.now.strftime("%l:%M %P"), style: "width: 100%" %> <br>
                Tengahari: <br>
                <%= text_area_tag :st, Time.now.strftime("%l:%M %P"), style: "width: 100%" %> <br>
                Petang: <br>
                <%= text_area_tag :st, Time.now.strftime("%l:%M %P"), style: "width: 100%" %> <br> 
              </td>
              <td>
                <%= text_area_tag :st, Time.now.strftime("%l:%M %P"), style: "width: 100%; height: 150px" %>
              </td>
            </tr>
            <tr>
              <td>Circle Time</td>
              <td>
                Masa & Senarai Aktiviti: <br>
                <%= text_area_tag :st, Time.now.strftime("%l:%M %P"), style: "width: 100%; height: 100px" %>
              </td>
              <td>
                <%= text_area_tag :st, Time.now.strftime("%l:%M %P"), style: "width: 100%; height: 150px" %>
              </td>
            </tr>
            <tr>
              <td>Aktiviti Luar</td>
              <td>
                Masa & Senarai Aktiviti: <br>
                <%= text_area_tag :st, Time.now.strftime("%l:%M %P"), style: "width: 100%; height: 100px" %>
              </td>
              <td>
                <%= text_area_tag :st, Time.now.strftime("%l:%M %P"), style: "width: 100%; height: 150px" %>
              </td>
            </tr>
            <tr>
              <td>Aktiviti PERMATA</td>
              <td>
                Masa & Senarai Aktiviti: <br>
                <%= text_area_tag :st, Time.now.strftime("%l:%M %P"), style: "width: 100%; height: 100px" %>
              </td>
              <td>
                <%= text_area_tag :st, Time.now.strftime("%l:%M %P"), style: "width: 100%; height: 150px" %>
              </td>
            </tr>
            <tr>
              <td>Tukar Lampin/Tandas</td>
              <td>
                <% try = nil %>
                Masa: <br>
                <%= select_tag :ppk, options_for_select([ "Ya", "Tidak" ], try), include_blank: "Pilih" %>&nbsp 8am-12pm<br>
                <%= select_tag :ppk, options_for_select([ "Ya", "Tidak" ], try), include_blank: "Pilih" %>&nbsp 12pm-3pm<br>
                <%= select_tag :ppk, options_for_select([ "Ya", "Tidak" ], try), include_blank: "Pilih" %>&nbsp 3pm-7pm<br>
                Najis: <br>
                <%= select_tag :ppk, options_for_select([ "Keras","Lembik","Cair","Lain-lain" ], try), include_blank: "Pilih" %><br>
                Warna: <br>
                <%= select_tag :ppk, options_for_select([ "Kuning","Coklat","Lain-lain" ], try), include_blank: "Pilih" %><br>
              </td>
              <td>
                <%= text_area_tag :st, Time.now.strftime("%l:%M %P"), style: "width: 100%; height: 150px" %>
              </td>
            </tr>
            <tr>
              <td>Gosok Gigi</td>
              <td>
                <%= select_tag :ppk, options_for_select([ "Ya", "Tidak" ], nil), include_blank: "Pilih" %>&nbsp Pagi<br>
                <%= select_tag :ppk, options_for_select([ "Ya", "Tidak" ], nil), include_blank: "Pilih" %>&nbsp Tengah Hari<br>
                <%= select_tag :ppk, options_for_select([ "Ya", "Tidak" ], nil), include_blank: "Pilih" %>&nbsp Petang<br>
              </td>
              <td>
                <%= text_area_tag :st, Time.now.strftime("%l:%M %P"), style: "width: 100%; height: 150px" %>
              </td>
            </tr>
            <tr>
              <td>Mandi</td>
              <td>
                <%= select_tag :ppk, options_for_select([ "Ya", "Tidak" ], nil), include_blank: "Pilih" %>&nbsp Pagi<br>
                <%= select_tag :ppk, options_for_select([ "Ya", "Tidak" ], nil), include_blank: "Pilih" %>&nbsp Tengah Hari<br>
                <%= select_tag :ppk, options_for_select([ "Ya", "Tidak" ], nil), include_blank: "Pilih" %>&nbsp Petang<br>
              </td>
              <td>
                <%= text_area_tag :st, Time.now.strftime("%l:%M %P"), style: "width: 100%; height: 150px" %>
              </td>
            </tr>
            <tr>
              <td>Tidur</td>
              <td>
                <%= select_tag :ppk, options_for_select([ "Ya", "Tidak" ], nil), include_blank: "Pilih" %>&nbsp 9am - 12pm<br>
                <%= select_tag :ppk, options_for_select([ "Ya", "Tidak" ], nil), include_blank: "Pilih" %>&nbsp 12pm - 3pm<br>
                <%= select_tag :ppk, options_for_select([ "Ya", "Tidak" ], nil), include_blank: "Pilih" %>&nbsp 3pm - 7pm<br>
              </td>
              <td>
                <%= text_area_tag :st, Time.now.strftime("%l:%M %P"), style: "width: 100%; height: 150px" %>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-12" style="margin-left: -10px;margin-top: 10px;margin-right: -10px;">
      Ubat yang Dibawa Dalam Beg
      <div class="table table-responsive border" style="font-size:10px">
        <table class="table table-bordered table-striped shadow" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr class="shadow">
              <th style="background-color:#ffb2b2">Nama/Jenis Ubat</th>
              <th style="background-color:#ffb2b2">Masa</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= text_area_tag :med1_d, @lgbk.medc["med1_d"] %></td>

              <td>
                Masa Terakhir<br>
                <%= text_area_tag :med1_p, @lgbk.medc["med1_p"] %><br>
                Masa Seterusnya<br>
                <%= text_area_tag :med1_n, @lgbk.medc["med1_n"] %>
                  
              </td>
            </tr>
            <tr>
              <td><%= text_area_tag :med2_d, @lgbk.medc["med2_d"] %></td>

              <td>
                Masa Terakhir<br>
                <%= text_area_tag :med2_p, @lgbk.medc["med2_p"] %><br>
                Masa Seterusnya<br>
                <%= text_area_tag :med2_n, @lgbk.medc["med2_n"] %>
                  
              </td>
            </tr>
            <tr>
              <td><%= text_area_tag :med3_d, @lgbk.medc["med3_d"] %></td>

              <td>
                Masa Terakhir<br>
                <%= text_area_tag :med3_p, @lgbk.medc["med3_p"] %><br>
                Masa Seterusnya<br>
                <%= text_area_tag :med3_n, @lgbk.medc["med3_n"] %>
                  
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div> <!-- DIV UBAT -->

    <div class="col-12" style="margin-left: -10px;margin-right: -10px;margin-top: 5px;margin-bottom: 20px">
      Keadaan Fizikal
      <%= text_area_tag :phyc, @lgbk.phyc, placeholder: "Sila nyatakan sebarang keadaan fizikal yang ada rasa perlu disini", class:"col-12" %>
    </div>

    <%= hidden_field_tag :kid_id, @lgbk.kid.id %>
    <%= hidden_field_tag :lgbk, @lgbk.id %>

    <%= button_tag(type: :submit, class: "btn btn-success btn-block", style: "font-size: 14px; border-style: none; font-weight: normal",  id: "submit_expense") do %>
        <i class=""></i> Hantar
    <% end %><br><br><br>

  <% end %> <!-- END FORM -->

</div>




