
<div style="margin-right: 0px;margin-left: -10px;margin-right: -10px;margin-top: -10px">

  <div style="text-align: left; margin-bottom: 10px">
    <% if current_admin.present? %>
    <% else %>
      <%= link_to "BACK", tch_std_path(@teacher, taska: @taska.id), class: "badge badge-warning" %>
      <%= link_to "PARENT NOTE", view_lgbk_path(tch: @teacher.id,lgbk: @lgbk.id, note:true), class: "badge badge-primary", target: "_blank" %>
    <% end %>
    
  </div>

  <div style="background-color:#ccccff; text-align: center">
    <h4><%= @kid.name %></h4>
    <h5><%= "#{@tm.strftime("%d-%^b-%y")} (#{@tm.strftime("%A")})" %></h5>
  </div>

  <%= form_tag tch_upd_path, method: :post, id: "find_kid" do %>

    

    <div class="col-12" style="margin-left: 0px;margin-top: 10px;margin-right: 0px;">
      <div class="table table-responsive border" style="font-size:12px">
        <table class="table table-bordered table-striped shadow" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr class="shadow">
              <th style="background-color:#ffb2b2; width: 5%">Perkara</th>
              <th style="background-color:#ffb2b2">Maklumat</th>
              <th style="background-color:#ffb2b2; width: 100%">Catatan</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Suhu (&#8451)</td>
              <td><%= text_field_tag :temp %></td>
              <td>
                <% @lgbk.temp.each do |k,v| %>
                  <%= v %>&#8451(<%= k.strftime("%l:%M %P") %>)<br>
                <% end %>
              </td>
            </tr>
            <tr>
              <td>Susu</td>
              <td>
                <% susu_n = @lgbk.susu.count %>
                <%= hidden_field_tag :susu_n, susu_n %>
                Masa: <br>
                <%= text_field_tag :"st#{susu_n}", Time.now.strftime("%l:%M %P") %> <br>
                Kuantiti (0Z): <br>
                <%= text_field_tag :"sk#{susu_n}", @lgbk.tool["tool7_d"] %> <br>
                <% if @lgbk.susu.present? %>
                  <p style="font-size: 12px;margin-top: 5px;margin-bottom: -2px"><i><u>Record</u></i></p>
                <% (0..(susu_n-1)).each do |n| %>
                  Masa: <br>
                  <%= text_field_tag :"st#{n}", @lgbk.susu[n][0] %> <br>
                  Kuantiti (0Z): <br>
                  <%= text_field_tag :"sk#{n}", @lgbk.susu[n][1] %> <br><br>
                <% end %>
                <% end %>
              </td>
              <td>
                <%= text_area_tag :susudc, @lgbk.susudc, style: "width: 100%; height: 150px" %>
              </td>
            </tr>
            <tr>
              <td>Makanan</td>
              <td>
                Pagi: <br>
                <%= text_area_tag :mknpg, @lgbk.mkn[0], style: "width: 100%" %> <br>
                Tengahari: <br>
                <%= text_area_tag :mkntg, @lgbk.mkn[1], style: "width: 100%" %> <br>
                Petang: <br>
                <%= text_area_tag :mknpt, @lgbk.mkn[2], style: "width: 100%" %> <br> 
              </td>
              <td>
                <%= text_area_tag :mkndc, @lgbk.mkn[3], style: "width: 100%; height: 150px" %>
              </td>
            </tr>
            <tr>
              <td>Circle Time</td>
              <td>
                Masa & Senarai Aktiviti: <br>
                <%= text_area_tag :ctmm, @lgbk.ctm[0], style: "width: 100%; height: 100px" %>
              </td>
              <td>
                <%= text_area_tag :ctmdc, @lgbk.ctm[1], style: "width: 100%; height: 150px" %>
              </td>
            </tr>
            <tr>
              <td>Aktiviti Luar</td>
              <td>
                Masa & Senarai Aktiviti: <br>
                <%= text_area_tag :aktlm, @lgbk.aktl[0], style: "width: 100%; height: 100px" %>
              </td>
              <td>
                <%= text_area_tag :aktldc, @lgbk.aktl[1], style: "width: 100%; height: 150px" %>
              </td>
            </tr>
            <tr>
              <td>Aktiviti PERMATA</td>
              <td>
                Masa & Senarai Aktiviti: <br>
                <%= text_area_tag :aktpm, @lgbk.aktp[0], style: "width: 100%; height: 100px" %>
              </td>
              <td>
                <%= text_area_tag :aktpdc, @lgbk.aktp[1], style: "width: 100%; height: 150px" %>
              </td>
            </tr>
            <tr>
              <td>Tukar Lampin/Tandas</td>
              <td>
                Masa: <br>
                <%= select_tag :lmpm, options_for_select([ "Ya", "Tidak" ], @lgbk.lmpn[0]), include_blank: "Pilih" %>&nbsp 8am-12pm<br>
                <%= select_tag :lmpt, options_for_select([ "Ya", "Tidak" ], @lgbk.lmpn[1]), include_blank: "Pilih" %>&nbsp 12pm-3pm<br>
                <%= select_tag :lmpp, options_for_select([ "Ya", "Tidak" ], @lgbk.lmpn[2]), include_blank: "Pilih" %>&nbsp 3pm-7pm<br>
                Najis: <br>
                <%= select_tag :lmpn, options_for_select([ "Keras","Lembik","Cair","Lain-lain" ], @lgbk.lmpn[3]), include_blank: "Pilih" %><br>
                Warna: <br>
                <%= select_tag :lmpw, options_for_select([ "Kuning","Coklat","Lain-lain" ], @lgbk.lmpn[4]), include_blank: "Pilih" %><br>
              </td>
              <td>
                <%= text_area_tag :lmpdc, @lgbk.lmpn[5], style: "width: 100%; height: 150px" %>
              </td>
            </tr>
            <tr>
              <td>Gosok Gigi</td>
              <td>
                <%= select_tag :ggm, options_for_select([ "Ya", "Tidak" ], @lgbk.gigi[0]), include_blank: "Pilih" %>&nbsp Pagi<br>
                <%= select_tag :ggt, options_for_select([ "Ya", "Tidak" ], @lgbk.gigi[1]), include_blank: "Pilih" %>&nbsp Tengah Hari<br>
                <%= select_tag :ggp, options_for_select([ "Ya", "Tidak" ], @lgbk.gigi[2]), include_blank: "Pilih" %>&nbsp Petang<br>
              </td>
              <td>
                <%= text_area_tag :ggdc, @lgbk.gigi[3], style: "width: 100%; height: 150px" %>
              </td>
            </tr>
            <tr>
              <td>Mandi</td>
              <td>
              <%= select_tag :mndm, options_for_select([ "Ya", "Tidak" ], @lgbk.mnd[0]), include_blank: "Pilih" %>&nbsp Pagi<br>
                <%= select_tag :mndt, options_for_select([ "Ya", "Tidak" ], @lgbk.mnd[1]), include_blank: "Pilih" %>&nbsp Tengah Hari<br>
                <%= select_tag :mndp, options_for_select([ "Ya", "Tidak" ], @lgbk.mnd[2]), include_blank: "Pilih" %>&nbsp Petang<br>
              </td>
              <td>
                <%= text_area_tag :mnddc, @lgbk.mnd[3], style: "width: 100%; height: 150px" %>
              </td>
            </tr>
            <tr>
              <td>Tidur</td>
              <td>
              <%= select_tag :tdrm, options_for_select([ "Ya", "Tidak" ], @lgbk.tdur[0]), include_blank: "Pilih" %>&nbsp Pagi<br>
                <%= select_tag :tdrt, options_for_select([ "Ya", "Tidak" ], @lgbk.tdur[1]), include_blank: "Pilih" %>&nbsp Tengah Hari<br>
                <%= select_tag :tdrp, options_for_select([ "Ya", "Tidak" ], @lgbk.tdur[2]), include_blank: "Pilih" %>&nbsp Petang<br>
              </td>
              <td>
                <%= text_area_tag :tdrdc, @lgbk.tdur[3], style: "width: 100%; height: 150px" %>
              </td>
            </tr>
            <tr>
              <td>Aktiviti Bebas</td>
              <td colspan="2">
                <%= text_area_tag :aktb, @lgbk.aktb, style: "width: 100%; height: 100px" %>
              </td>
            </tr>
            <tr>
              <td>
                Tingkah Laku/ Kesihatan/ Sakit
                Kemalangan/ Kecederaan
              </td>
              <td colspan="2">
                <%= text_area_tag :othdc, @lgbk.othdc, style: "width: 100%; height: 100px" %>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <%= hidden_field_tag :kid_id, @lgbk.kid.id %>
    <% if current_admin.present? %>
      <%= hidden_field_tag :admid, @admin.id %>
    <% else %>
      <%= hidden_field_tag :tchid, @teacher.id %>
    <% end %>
    <%= hidden_field_tag :lgbk, @lgbk.id %>

    <%= button_tag(type: :submit, class: "btn btn-success btn-block", style: "font-size: 14px; border-style: none; font-weight: normal",  id: "submit_expense") do %>
        <i class=""></i> Hantar
    <% end %><br><br><br>

  <% end %> <!-- END FORM -->

</div>




