<div style="margin-right: 0px;margin-left: -10px;margin-right: -10px;margin-top: -10px">

  <div style="text-align: left; margin-bottom: 10px">
    <% if current_admin.present? %>
    <% else %>
      <%= link_to "BACK", tch_std_path(@teacher, taska: @taska.id), class: "badge badge-warning" %>
      <%= link_to "PARENT NOTE", view_lgbk_path(tch: @teacher.id,lgbk: @lgbk.id, note:true), class: "badge badge-primary", target: "_blank" %>
    <% end %>
    
  </div>

  <div style="background-color:#ccccff; text-align: center">
    <h4><%= @kid.name %></h4>
    <h5><%= "#{@tm.strftime("%d-%^b-%y")} (#{@tm.strftime("%A")})" %></h5>
  </div>



<% if ENV['TADIKALGBK'].include? @kid.taska.id.to_s %>
  <%= render 'lgbks/tch_lgbk_tdk'%>
<% else %>
  <%= render 'lgbks/tch_lgbk_tmp'%>
<% end %>